In [3]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('~/Desktop/Student Depression Dataset.csv')

In [9]:
df.sample(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
15022,75732,Male,24.0,Hyderabad,Student,4.0,0.0,6.00,5.0,0.0,Less than 5 hours,Unhealthy,B.Ed,Yes,7.0,5.0,No,1
6890,34601,Male,19.0,Bhopal,Student,5.0,0.0,8.52,2.0,0.0,7-8 hours,Moderate,Class 12,Yes,10.0,3.0,Yes,1
25810,130068,Female,31.0,Chennai,Student,4.0,0.0,5.80,4.0,0.0,5-6 hours,Moderate,Class 12,Yes,0.0,4.0,No,1

In [38]:
df['Dietary Habits'].unique()
df = df.dropna(subset=["Sleep Duration"])

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.preprocessing import OneHotEncoder

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,1:16],df.iloc[:,-1], test_size=0.2)

In [34]:
trans= ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['Academic Pressure']),
    ('tnf2',OrdinalEncoder(categories=[['Others','Unhealthy','Moderate','Healthy']]),['Dietary Habits']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['Profession','Gender','City']),
],remainder='passthrough')

In [39]:
trans.fit_transform(x_train).shape

(22320, 74)